@{
    ViewData["navTitel"] = "Dashboard";
    ViewData["navActive"] = "";
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_dashbord.cshtml";
}

<link href="~/css/jqdatatable/jquery.datatables.min.css" rel="stylesheet" />

<style>
    .row {
        display: flex;
        height: 80vh;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

        .row p {
            font-size: 40px;
            font-family: inherit;
            text-decoration: underline;
        }
</style>


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <p>Welcom To Thrifty Dashboard</p>
        </div>
    </div>
</div>

